<section>
    <div class="line-container">
      <div class="line-small"></div>
      <div class="text-list">Lista de Reservas</div>
      <div class="line"></div>
    </div>
    
      <div class="tabla-scroll">
          <table class="lists">
              <caption></caption>
              <th></th>
              <tbody>
                    <tr *ngFor="let objeto of vehiculoEstado, let a=index">
                        <td style="width: 100%;"> {{objeto}}</td>
                    </tr>
              </tbody>
          </table>
      </div>
</section>