<div >
  <nav>
    <a (click)="back()"> <img src="assets/logo.png" alt="" class="app_logo"></a>
    <span (click)="back()" class="Mueve">Mueve <span class="TIC">TIC</span></span>
    <ul class="menu">
      <li><a (click)="mostrarListaReservasUsuariosTelefoniaComponent()">Ver Reservas</a></li>
      <li><a (click)="mostrarCrearReservaComponent()">Reservar Vehículo</a></li>
      <li><a (click)="mostrarCancelarReservaComponent()">Cancelar Reserva</a></li>
    </ul>
  </nav>
  
    <label class="perfil-userName">{{ getNameUser(email) }}</label>
    <div class="perfil">
  
      <img src="assets/perfil_icon.png" class="icon-perfil" alt="">
      <ul class="desplegable-perfil">
        <li><a (click)="logout()"><img src="assets/log_out.png" alt="" class="icon-menu">Cerrar Sesión</a></li>
      </ul>
    </div>
    <app-lista-reservas-usuarios-telefonia *ngIf="showListaReservasUsuariosTelefoniaComponent"></app-lista-reservas-usuarios-telefonia>
    <app-crear-reserva-telefonia *ngIf="showCrearReservaComponent"></app-crear-reserva-telefonia>
    <app-cancelar-reserva-telefonia *ngIf="showCancelarReservaComponent"></app-cancelar-reserva-telefonia>
  </div>
  
  <!-- OPCION MENU HOME -->
  <div class="app-container-home">
    <section class="container-home">
      <h1 class="h1-home">¡Bienvenido a MueveTIC!</h1>
      <div class="section-derecha">
        <div class="text">
          <h2 class="h2-derecha">Alquila vehículos eléctricos en Ciudad Real - MueveTIC</h2>
          <p>Desplázate de forma <span class="palabra-clave">sostenible</span> y disfruta de la <span
              class="palabra-clave">movilidad urbana</span> con Mueve <span class="palabra-clave">TIC</span>.</p>
        </div>
        <!-- sonarlint-disable-next-line web:S4084 -->
        <video class="video-coche" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
          <source src="assets/videoCoche.mp4" type="video/mp4">
        </video>
      </div>
  
      <div class="section-izquierda">
        <div class="image-izquierda">
          <img src="assets/reloj.png" alt="Imagen 2">
        </div>
  
        <div class="text">
          <h2 class="h2-izquierda">Alquila un vehículo en minutos</h2>
          <p>Con MueveTIC puedes alquilar un vehículo en <span class="palabra-clave-izq">minutos</span> No te preocupes
            por los detalles técnicos y concéntrate en disfrutar de tu experiencia de <span
              class="palabra-clave-izq">movilidad </span>urbana<span class="palabra-clave-izq"> sostenible.</span> </p>
        </div>
      </div>
  
      <div class="section-derecha">
        <div class="text">
          <h2 class="h2-derecha">Da tu opinión y valora los servicios</h2>
          <p>Puedes dar tu <span class="palabra-clave">opinión </span>y valorar los servicios de MueveTIC. Ayúdanos a
            <span class="palabra-clave">mejorar</span> y ofrecerte la mejor experiencia posible.</p>
        </div>
        <div class="image-derecha">
          <video class="video-puntuacion" loop muted autoplay oncanplay="this.play()"
            onloadedmetadata="this.muted = true">
            <source src="assets/gifPuntuacion.mp4" type="video/mp4">
          </video>
        </div>
      </div>
  
      <div class="section-izquierda">
        <div class="image-izquierda">
          <img src="assets/duda.png" alt="Imagen 2">
        </div>
        <div class="text">
          <h2 class="h2-izquierda">¿Por qué elegirnos?</h2>
          <p>MueveTIC,combina<span class="palabra-clave"> innovación</span> y <span
              class="palabra-clave">sostenibilidad</span> para ofrecer una experiencia de transporte avanzada. Contribuye
            a un entorno más saludable y sostenible eligiendo nuestra empresa, la <span class="palabra-clave">única</span>
            comprometida con la reducción de las emisiones de los vehículos.</p>
        </div>
      </div>
    </section>
  </div>
  
  